body {
  margin: 0
}

body {
  overflow: hidden; 
}

.container {
  display: -webkit-inline-box;
  margin-left: 5%;
}

.level-panel {
  text-align: center;
  margin-top: 5%;
}

.container-puzzle-pieces-small {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 20% 0 20%;
}

.container-puzzle-pieces-big {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 50% 0 20%;
}

.container-puzzle-pieces-small  > * {
    margin: 0% 7% ;
}

.container-puzzle-pieces-big  > * {
  margin: 0% 2% ;
}


.container-puzzle-board-small {
  width: 350px;
  height: 350px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.container-puzzle-board-big {
  width: 400px;
  height: 400px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.draggable {
  width: 70px;
  height: 70px;
  border: solid 1px black;
  size: 10px;
  text-align: center;
  line-height: 70px;
  background-color: #8c91ab;
  cursor: move;
}

.draggable-after-drop-small {
  margin-left: 10%;
  margin-top: 6%;
}

.draggable-after-drop-big {
  margin-left: 5%;
  margin-top: 3%;
}

.puzzle-piece-after-drop {
  background-color: white;
  border: none

} 

.draggable.dragging {
  opacity: 0.5;
}

.drop-house-small {
  margin-left:10%;
  margin-top: 6%;
  width: 70px;
  height: 70px;
  border: solid 1px black;
}

.drop-house-big {
  margin-left:5%;
  margin-top: 3%;
  width: 70px;
  height: 70px;
  border: solid 1px black;
}

.hide {
  display: none;
}

h3 {
  text-align: center;
  color: cadetblue;
}


